:root {
  --black: #000000;
  --extra-dark: #283136;
  --light-dark: #444444;
  --white: #FFFFFF;
  --light-red: #FB565A;
  --green: #00CA74;
  --yellow: #EFC849;
  --neutral: #EEEEEE;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.button {
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--light-red);
}

.main-header {
  color: var(--black);
  font-weight: 500;
  background-color: var(--neutral);
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation {
  margin: 0px 45px;
}

.basket-navigation {
  text-align: right;
}

.goods-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.goods-text {
  color: var(--extra-dark);
}

.goods-item .button {
  padding-left: 39px;
  padding-right: 40px;
}

.goods-apps .button {
  background-color: var(--green)
}

.goods-presentations .button {
  background-color: var(--yellow);
}