:root {
  --black: #000000;
  --extra-dark: #283136;
  --light-dark: #444444;
  --white: #FFFFFF;
  --light-red: #FB565A;
  --green: #00CA74;
  --yellow: #EFC849;
  --neutral: #EEEEEE;
  --gray: #666666;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.button {
  border-radius: 3px;
  border: 0;
  padding-top: 17px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--light-red);
}

.main-header {
  color: var(--black);
  font-weight: 500;
  background-color: var(--neutral);
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation {
  margin: 0px 45px;
}

.basket-navigation {
  text-align: right;
}

.description-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
}

.description-text {
  color: var(--extra-dark);
}

.description-button {
  padding-left: 54px;
  padding-right: 54px;
}

.goods-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.goods-text {
  color: var(--extra-dark);
}

.goods-item .button {
  padding-left: 39px;
  padding-right: 40px;
}

.goods-apps .button {
  background-color: var(--green)
}

.goods-presentations .button {
  background-color: var(--yellow);
}

.benefits-title {
  color: var(--black);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.benefits-subtitle {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--extra-dark);
}

.benefits-list-goods {
  list-style: circle;
}

.benefits-peculiarities {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.benefits-peculiarities-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--black);
}

.benefits-peculiarities-text {
  line-height: 18px;
}

.location div {
  background-color: var(--white);
}

.location-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.location-text {
  line-height: 18px;
  color: var(--gray);
}

.location-button {
  padding-left: 44px;
  padding-right: 44px;
}

.modal {
  box-shadow: 0px, 20px, 40px, rgba(0, 0, 0, 0.4);
}

.modal-close {
  border: 0;
}

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--black);
}

.record-form label {
  line-height: 18px;
  font-weight: bold;
  color: var(--black);
}

.modal-button {
  padding-right: 83px;
  padding-left: 83px;
}

.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: var(--black)
}

.footer-text {
  line-height: 22px;
  color: var(--light-dark)
}